@using eonreality.Models
@model User
@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/site.css" />

<div class="top-container">
    <a class="add-user" asp-area="" asp-controller="Home" asp-action="AddUser">+ Add User</a><br><br>
    <h1 class="title">List of Registered Users</h1>  
</div>

<table>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Reg. Date</th>
        <th>Selected Days</th>
        <th>Add. Request</th>
    </tr>
    @foreach (var a in @ViewBag.Users)
    {
        <tr>
            <td>@a.UserId</td>
            <td>@a.NameField</td>
            <td>@a.EmailField</td>
            <td>@a.Gender</td>
            <td>@a.DateRegistered</td>
            <td></td>
            <td>@a.AdditionalR</td>
        </tr>
    }
    
</table>